.body-container {
    background: #171414;
    background: -webkit-linear-gradient(to right, #464340, #171414);
    background: linear-gradient(to right, #464340, #171414);
    color: #f8f9fa;
}

.modal-content {
    border: none;
}

.hidden { 
    display: none; 
}

.theme-btn {
    background-color: rgba(144, 198, 149, 1);
    color: #f8f9fa;
}
