{% load static %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
{{dates.length}}
<div class="grid">
    <div class="grid grid-outer">
    {% for date, entry in dates.items %}
        <div 
            class="content"
            data-toggle="tooltip"
            data-placement="top" 
            title="{{ entry }}"
            {% if entry and not tracker %} 
            style="background-color:rgba(144, 198, 149, 1)" 
            {% elif tracker %}
            style="background-color:yellow;"
            {% else %}
            style="background-color:lightgray;"
            {% endif %}
        >
            <a href="{% url 'journal:set_entry' year=date.year month=date.month day=date.day %}">
            </a>
        </div>
    {% if forloop.counter|divisibleby:col_size %}
    </div>
    <div class="grid grid-outer">
    {% endif %}
    {% endfor %}
    {# Add blank filler divs to make up for remainder #}
    {% with dates_length=dates|length %}
        {%for i in dates_length|leftovers:col_size %}
            <div></div>
        {% endfor %}
    {% endwith %}
    </div>
</div>