<div class="container grid-container" id="{{id}}">
    <div class="card {{ card }}">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h2>{{title}}</h2>
                        </div>
                        <div class="col-sm">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <button type="button" class="btn btn-dark grid-prev">
                                        &laquo;
                                    </button>
                                </li>
                                <li class="page-item disabled d-flex justify-content-center">
                                    <h3 class="grid-year"></h3>
                                </li>
                                <li class="page-item">
                                    <button type="button" class="btn btn-dark grid-next">
                                        &raquo;
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                </div>
            </div>
        <div class="card-body">
            <div class="grid-content">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setGrid('{{id}}', {% now "Y" %})
</script> 
