{% extends "journal/base.html" %}

{% block head %}
	{% load static %}
	<script src="{% static 'journal/js/tracker.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="pb-2 mt-4 mb-2 border-bottom">
		<div class="d-flex">
			<div class="p-2"><h1>Daily Journal</h1></div>
			<div class="ml-auto p-2">
				<button 
					type="button" 
					class="btn theme-btn" 
					data-toggle="modal"
					data-target="#trackerModal" 
					onclick="createTracker()"
				>
					Add Tracker
				</button>
			</div>
			</div>
		</div>
	</div>
	<br>
	{%  include "journal/grid_container.html" with id="entries" title="Entries" card="bg-dark text-white"%}
	<!-- Need to for each every data tracker -->

	{%  include "journal/modal.html" with id="trackerModal"%}
	<!-- To go into modal body :: -->
	<!-- <form>
		 -->
{% endblock %}